.btn-group{data: {toggle: "buttons-radio"}}
  %button.btn.state-button
    Packing
    %label.inline-label
      %input{ type: "checkbox"}
  %button.btn.state-button
    Loading
    %label.inline-label
      %input{ type: "checkbox"}
  %button.btn.state-button
    Delivery
    %label.inline-label
      %input{ type: "checkbox"}
  %button.btn.state-button
    Delivered
    %label.inline-label
      %input{ type: "checkbox"}
